* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    font-family: 'Yeseva One', serif;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.projects {
    background: #131313;
}

.projects .wrapper {
    display: flex;
    align-items: flex-end;
    padding-top: 107px;
    padding-bottom: 124px;
}

.left-side {
    margin-right: 50px;
}

.project-title {
    position: relative;
    margin: 0;
    margin-bottom: 34px;
    width: 253px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -1.89px;
    text-transform: uppercase;
    color: #E3B873;
}

.project-title::after {
    position: absolute;
    right: 0;
    bottom: 17px;
    content: '';
    width: 92px;
    height: 1px;
    background-color: #E3B873;
}

.project-text {
    margin-bottom: 42px;
    font-family: 'NunitoSans-Regular';
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
}

.project-table {
    display: flex;
    flex-wrap: wrap;
    row-gap: 34px;
}

.table-item {
    width: 190px;
}

.table-title {
    margin-bottom: 9px;
    font-size: 18px;
    text-transform: uppercase;
    color: #E3B873;
}

.table-descr {
    font-family: 'NunitoSans-Regular';
    font-size: 13px;
    color: #ffffff;
    line-height: 163.68%;
}

.slider-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    margin-top: 80px;
}

.nav-button {
    width: 41px;
    height: 13px;
    top: 4px;
    background-color: transparent;
    background-image: url(../img/arrow_left.svg);
    border: none;
    cursor: pointer;
    transition: all 0.3;
}

.nav-button-right {
    background-image: url(../img/arrow_right.svg);
}

.slider-nav-wrap {
    display: flex;
    justify-content: space-between;
    width: 64px;
}

.nav-dots {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3;
}

.nav-dots.active {
    opacity: 1;
}

.slider-nav button:hover {
    opacity: 0.5;
}

.project-link {
    display: inline-block;
    padding-bottom: 7px;
    margin-right: 55px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    text-decoration: none;
}

.project-link:last-child {
    margin-right: 0;
}

.project-link.active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.project-img {
    margin-top: 45px;
}


@media screen and (max-width: 1299px) {
    .container {
        max-width: 100%;
        padding: 0 18px;
    }
    .header {
        padding: 23px 0;
    }
    .logo {
        width: 155px;
    }
    .menu-list {
        display: none;
    }
    .contact-link {
        color: #ffffff;
    }
    .button {
        max-width: 340px;
        border-radius: 0;
    }
    .header .button {
        display: none;
    }
    .hero .wrapper {
        padding: 85px 0 61px;
    }
    .hero .title {
        margin-bottom: 16px;
        font-size: 23px;
        line-height: 30px;
    }
    .hero .text {
        width: 100%;
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 19px;
    }
    .first-hero-button {
        margin-bottom: 26px;
    }
    .projects {
        background-color: #181818;
    }
    .projects .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 36px 0 58px;
    }
    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .project-title {
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
    }
    .project-text {
        max-width: 311px;
        margin-bottom: 72px;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    .slider-mobile {
        display: block;
        position: relative;
        margin: 0 auto;
    }
    .slider-mobile .project-img {
        width: 100%;
        margin-top: 0;
    }
    .slider-left, .slider-right {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        background: url(../img/slider_left.svg) no-repeat center center;
        border: none;
        z-index: 1;
    }
    .slider-left {
        left: 14px;
    }
    .slider-right {
        right: 14px;
        background-image: url(../img/slider_right.svg);
    }
    .slider-nav, .right-side {
        display: none;
    }
    .project-table {
        margin-top: 36px;
    }
    .project-table:first-of-type {
        margin-bottom: 27px;
    }
    .project-table td {
        font-size: 11px;
    }
    .table-title td {
        font-size: 14px;
    }
    .control {
        margin-top: -1px;
        padding-bottom: 88px;
        background-color: #181818;
    }
    .control .subtitle {
        font-size: 22px;
    }
    .subtitle::after {
        top: 45px;
    }
    .control-wrap {
        margin-top: 88px;
    }
    .control-img {
        width: 100%;
    }
    .control-wrap::before {
        width: 38px;
        height: 38px;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }
    .control-wrap::after {
        width: 12px;
        height: 14px;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -2px;
        background-position: center center;
        background-size: cover;
    }
    .control-text {
        margin-top: 51px;
        font-size: 11px;
        line-height: 19px;
        color: #ffffff;
        text-align: center;
    }
    .control-text::before {
        top: -22px;
    }
    .control-form {
        position: relative;
        width: 100%;
        justify-content: start;
        margin-top: 77px;
    }
    .label, .input {
        width: 100%;
    }
    .input:focus {
        outline-color: #ffffff;
    }
    .control-form .label {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
    }
    .control-form .label:first-child {
        margin-bottom: 63px;
    }
    .control-form .input, .question-form .input {
        padding: 8px 0;
        font-size: 14px;
        color: #ffffff;
        background-color: #181818;
        border-bottom: 1px solid #ffffff;
    }
    .control-form .input::placeholder {
        color: #ffffff;
    }
    .form-wrapper {
        width: 100%;
    }
    .control-form .button {
        position: absolute;
        left: 0;
        bottom: -115px;
        margin-left: 0;
    }
    .control-form .wrapper-checkbox {
        margin-top: 26px;
    }
    .wrapper-checkbox .check-text {
        color: #ffffff;
    }
    .repair {
        padding-top: 83px;
        padding-bottom: 0;
    }
    .cards {
        flex-direction: column;
        justify-content: center;
        margin-top: 107px;
    }
    .card-item {
        position: relative;
        margin-right: 0;
        margin-bottom: 80px;
        max-width: 340px;
    }
    .card-wrap {
        width: 270px;
        margin: 0;
        margin-left: -1px;
        margin-top: 223px;
        padding: 21px 31px 37px;
    }
    .card-title {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .card-wrap li {
        line-height: 22px;
    }
    .card-item span {
        position: absolute;
        left: -31px;
        bottom: -20px;
        padding: 11px 19px;
        font-size: 15px;
    }
    .features {
        display: none;
    }
    .gallery {
        background: linear-gradient(180deg, #ffffff 52%, #181818 52%);
    }
    .gallery .container {
        justify-content: center;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 52px;
    }
    .gallery-title {
        max-width: 240px;
        margin-bottom: 24px;
    }
    .gallery-list, .right-side {
        display: none;
    }
    .reviews {
        display: none;
    }
    .contacts {
        margin-top: -1px;
        padding-top: 0;
        padding-bottom: 60px;
        background: #181818;
    }
    .question-wrap {
        position: relative;
        top: -1px;
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .question-form, .question-form .input-question {
        width: 100%;
    }
    .question-form label:first-child {
        margin-right: 0;
    }
    .question-form label:first-child, .question-form label:nth-child(2) {
        margin-bottom: 63px;
    }
    .question-form .wrapper-checkbox {
        width: 100%;
        margin-top: 22px;
        margin-bottom: 67px;
        justify-content: start;
    }
    .question-form .button {
        width: 100%;
    }
    .contacts-info {
        max-width: 320px;
        font-size: 18px;
        line-height: 25px;
    }
    .contacts-map {
        width: 100%;
    }
    .contacts-social {
        width: 100px;
    }
    .contacts-social svg {
        width: 39px;
        height: 39px;
    }
    .footer {
        display: none;
    }
}








